In [1]:
import pandas as pd

df = pd.read_excel("tf_and_pt_all_forks_high_value_combinations_temp.xlsx", index_col="Unnamed: 0")
df

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.081833
1,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.597339
2,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.882181
3,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.131969
4,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.317682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.010776
3576,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.429787
3577,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.721583
3578,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.998422
3579,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,7.180935

In [2]:
import numpy as np

df_raw = pd.read_excel("produce/ralstonia_high.xlsx", index_col="Samples")

X_right = np.array(df_raw.drop("ralstonia", axis=1).values, dtype=np.float32)
y_right = np.array(df_raw["ralstonia"].values, dtype=np.float32)

In [3]:
def get_ralstonia_value(row, X_right, model_arch):
    X_left = np.broadcast_to(np.array(row), (X_right.shape))
    if model_arch == "siamese":
        y_pred = model.predict([X_left, X_right])
    elif model_arch == "twin":
        X_pred = np.concatenate((X_left, X_right), axis=1)
        y_pred = model.predict(X_pred)
    y_pred = y_pred.squeeze()
    y_abs = np.mean(y_pred + y_right)
    return y_abs

In [5]:
# Setting warnings off
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
import warnings
warnings.filterwarnings('ignore')

In [7]:
# Fork1 Check
import tensorflow as tf
from tensorflow.keras.models import load_model

model_arch = 'siamese'
fork = "fork1_tf"
model = load_model("produce/saved_models_tf/tf_fork1.h5")
ralstonia_values = []
for i in range(df.shape[0]):
    print(i, end="\r")
    row = df[range(42)].iloc[i].values.tolist()
    val = get_ralstonia_value(row, X_right, model_arch)
    ralstonia_values.append(val)
    
df["Siamese Full TF"] = ralstonia_values
df

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,Siamese Full TF
0,0,0,1,0,1,1,0,0,1,1,...,1,0,0,0,0,0,0,0,4.081833,4.346578
1,0,0,1,0,1,1,0,0,1,1,...,1,0,0,0,0,0,0,0,4.597339,4.510314
2,0,0,1,0,1,1,0,0,1,1,...,1,0,0,0,0,0,0,0,4.882181,4.602205
3,0,0,1,0,1,1,0,0,1,1,...,1,0,0,0,0,1,0,0,5.131969,4.924675
4,0,0,1,0,1,1,0,0,1,1,...,1,0,0,0,0,1,0,0,5.317682,4.935114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,6.010776,3.460550
3576,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,6.429787,3.703525
3577,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,6.721583,4.096161
3578,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,6.998422,3.818365
3579,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,7.180935,3.950850

In [8]:
# Fork1 Check
import tensorflow as tf
from tensorflow.keras.models import load_model

model_arch = 'siamese'
fork = "fork2_tf"
model = load_model("produce/saved_models_tf/tf_fork2.h5")
ralstonia_values = []
for i in range(df.shape[0]):
    print(i, end="\r")
    row = df[range(42)].iloc[i].values.tolist()
    val = get_ralstonia_value(row, X_right, model_arch)
    ralstonia_values.append(val)
    
df["Siamese 8020 TF"] = ralstonia_values
df

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,Siamese Full TF,Siamese 8020 TF
0,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,4.081833,4.346578,3.667625
1,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,4.597339,4.510314,3.963938
2,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,4.882181,4.602205,4.031310
3,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,1,0,0,5.131969,4.924675,4.098566
4,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,1,0,0,5.317682,4.935114,4.235371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,6.010776,3.460550,3.493480
3576,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,6.429787,3.703525,3.622229
3577,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,6.721583,4.096161,3.727677
3578,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,6.998422,3.818365,3.650248
3579,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,7.180935,3.950850,3.842921

In [9]:
# Fork1 Check
import tensorflow as tf
from tensorflow.keras.models import load_model

model_arch = 'twin'
fork = "fork3_tf"
model = load_model("produce/saved_models_tf/tf_fork3.h5")
ralstonia_values = []
for i in range(df.shape[0]):
    print(i, end="\r")
    row = df[range(42)].iloc[i].values.tolist()
    val = get_ralstonia_value(row, X_right, model_arch)
    ralstonia_values.append(val)
    
df["Twin Full TF"] = ralstonia_values
df

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,Siamese Full TF,Siamese 8020 TF,Twin Full TF
0,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,4.081833,4.346578,3.667625,4.695021
1,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,4.597339,4.510314,3.963938,4.837860
2,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,4.882181,4.602205,4.031310,5.278550
3,0,0,1,0,1,1,0,0,1,1,...,0,0,0,1,0,0,5.131969,4.924675,4.098566,5.510090
4,0,0,1,0,1,1,0,0,1,1,...,0,0,0,1,0,0,5.317682,4.935114,4.235371,5.466289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,6.010776,3.460550,3.493480,5.093630
3576,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,6.429787,3.703525,3.622229,5.280568
3577,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,6.721583,4.096161,3.727677,5.146357
3578,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,6.998422,3.818365,3.650248,4.689723
3579,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,7.180935,3.950850,3.842921,4.696527

In [10]:
# Fork1 Check
import tensorflow as tf
from tensorflow.keras.models import load_model

model_arch = 'twin'
fork = "fork4_tf"
model = load_model("produce/saved_models_tf/tf_fork4.h5")
ralstonia_values = []
for i in range(df.shape[0]):
    print(i, end="\r")
    row = df[range(42)].iloc[i].values.tolist()
    val = get_ralstonia_value(row, X_right, model_arch)
    ralstonia_values.append(val)
    
df["Twin 8020 TF"] = ralstonia_values
df

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,Siamese Full TF,Siamese 8020 TF,Twin Full TF,Twin 8020 TF
0,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,4.081833,4.346578,3.667625,4.695021,4.304381
1,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,4.597339,4.510314,3.963938,4.837860,4.120675
2,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,4.882181,4.602205,4.031310,5.278550,4.285867
3,0,0,1,0,1,1,0,0,1,1,...,0,0,1,0,0,5.131969,4.924675,4.098566,5.510090,4.900719
4,0,0,1,0,1,1,0,0,1,1,...,0,0,1,0,0,5.317682,4.935114,4.235371,5.466289,5.268839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0,0,0,1,1,0,0,0,0,1,...,0,1,0,0,0,6.010776,3.460550,3.493480,5.093630,6.010776
3576,0,0,0,1,1,0,0,0,0,1,...,0,1,0,0,0,6.429787,3.703525,3.622229,5.280568,6.429787
3577,0,0,0,1,1,0,0,0,0,1,...,0,1,0,0,0,6.721583,4.096161,3.727677,5.146357,6.721583
3578,0,0,0,1,1,0,0,0,0,1,...,0,1,0,0,0,6.998422,3.818365,3.650248,4.689723,6.998422
3579,0,0,0,1,1,0,0,0,0,1,...,0,1,0,0,0,7.180935,3.950850,3.842921,4.696527,7.180935

In [11]:
df_final = df.drop(42, axis=1)
df_final

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,Siamese Full TF,Siamese 8020 TF,Twin Full TF,Twin 8020 TF
0,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,4.346578,3.667625,4.695021,4.304381
1,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,4.510314,3.963938,4.837860,4.120675
2,0,0,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,4.602205,4.031310,5.278550,4.285867
3,0,0,1,0,1,1,0,0,1,1,...,0,0,0,1,0,0,4.924675,4.098566,5.510090,4.900719
4,0,0,1,0,1,1,0,0,1,1,...,0,0,0,1,0,0,4.935114,4.235371,5.466289,5.268839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,3.460550,3.493480,5.093630,6.010776
3576,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,3.703525,3.622229,5.280568,6.429787
3577,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,4.096161,3.727677,5.146357,6.721583
3578,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,3.818365,3.650248,4.689723,6.998422
3579,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,3.950850,3.842921,4.696527,7.180935

In [12]:
df_final.to_excel("all_forks_high_value_combinations.xlsx")