In [1]:
import pandas as pd

df1 = pd.read_csv("fork1.txt", sep=" ", names=range(43))
df2 = pd.read_csv("fork2.txt", sep=" ", names=range(43))
df3 = pd.read_csv("fork3.txt", sep=" ", names=range(43))
df4 = pd.read_csv("fork4.txt", sep=" ", names=range(43))

df5 = pd.read_csv("fork1_tf.txt", sep=" ", names=range(43))
df6 = pd.read_csv("fork2_tf.txt", sep=" ", names=range(43))
df7 = pd.read_csv("fork3_tf.txt", sep=" ", names=range(43))
df8 = pd.read_csv("fork4_tf.txt", sep=" ", names=range(43))
df8

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,1,0,1,1,0,0,1,0,...,1,1,0,0,0,0,0,0,0,4.696389
1,0,0,1,0,1,1,0,0,1,0,...,1,1,0,0,0,0,0,0,0,5.460679
2,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,6.087014
3,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,6.602411
4,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,7.074564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.721583
512,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.998422
513,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,7.180935
514,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,7.239530
515,0,0,0,1,1,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,7.210995

In [2]:
df_all = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])
df_all = df_all.reset_index(drop=True)
df_all

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.081833
1,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.597339
2,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.882181
3,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.131969
4,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.317682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4526,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.721583
4527,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.998422
4528,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,7.180935
4529,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,7.239530
4530,0,0,0,1,1,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,7.210995

In [3]:
df_all.drop_duplicates(inplace=True)
df_all

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.081833
1,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.597339
2,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.882181
3,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.131969
4,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.317682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4524,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.010776
4525,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.429787
4526,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.721583
4527,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.998422
4528,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,7.180935

In [6]:
df_all = df_all.reset_index(drop=True)
df_all

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.081833
1,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.597339
2,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,0,0,0,4.882181
3,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.131969
4,0,0,1,0,1,1,0,0,1,1,...,1,1,0,0,0,0,1,0,0,5.317682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.010776
3576,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.429787
3577,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.721583
3578,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,6.998422
3579,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,7.180935

In [7]:
df_all.to_excel("tf_and_pt_all_forks_high_value_combinations_temp.xlsx")